@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 968px){
.left, .right {
    padding: 0 1.5rem;
}}
@media screen and (min-width: 968px){
.left {
    background-color: var(--container-color-alt);
}}

@media screen ,(max-width:768px){
  .sheet{
display: flex;
width: 10px;
height: auto;
  }
  
}
.left img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: var(--mb-1);
}


.containerr {


    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}
.right {
  padding: 20px;
  flex: 1 1 0%;
  flex-direction: column;
  display: flex;
}
.containerr {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.15;
}
.sheet {
  max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}


@media screen and (min-width: 968px){
.sheet {
    margin: auto;
    margin-right: auto;
}}



 @media screen and (min-width: 968px){
.resume {
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgb(13 12 12 / 15%);
}}




body {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Poppins',sans-serif;
  background-color: rgb(63, 22, 110);

}
@media screen and (min-width: 968px){
.containerr{
    margin: 3rem 0;
}}


 #cv-template {
  display: none; 
}   

h3,
h4 {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
h3{
    border: 1px solid rgb(158, 209, 38);
}
#cv-form {
  background: transparent;
  border-radius: 20px;
  
}

label {
  text-transform: capitalize;
  color: whitesmoke;
}

/* =========template css */





#goback {
  display: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  background-color: rgb(197 191 191);
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.text-center {
  text-align: center !important;
  color: tomato;
}
.btn-primary {
  color: #fff;
  background-color: tomato;
  border-color: tomato;
}
#cv-form svg{
    width: 30px;
    height: 30px;

}
footer{
    background-color: rgb(27, 27, 27);
    height: 60px;
    text-align: center;
  justify-content: center;
  align-items: center;
    display: flex;
}




h4,h6{
  background-color: rgb(33, 58, 94);
  color: #fff;
}
h7 {
  color: #000;
}


  .container.temp-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    padding-top: 1rem;
}
/* VARIABLES CSS */
:root {
  --header-height: 3rem;

  /* Colors */
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}




.bd-grid {
  display: grid;
  gap: 1.5rem;
}
.home_img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: var(--mb-1);
}
.home_title {
  font-size: var(--h1-font-size);
}
/* img {
  max-width: 100%;
  
} */
.home_profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}
.home_address {
  gap: 0.4rem;
}
.home_information {
  display: flex;
  align-items: center;
  
  font-size: var(--smaller-font-size);
}
.resume svg{
width: 20px;
height: 20px;
}
.section {
  padding: 1.5rem 0;
}
.profile_description {
  text-align: center;
}
@media screen and (min-width: 968px){
.section-title, .profile_description {
    text-align: initial;
    gap: 0;
}}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}
.education_time, .experience_time {
  padding-right: 1rem;
}
.education_data, .experience_data {
  gap: 0.5rem;
 
}
 .education_content, .experience_content {
  display: flex;
} 
.nn{
  display: flex;
}

.education_rounder, .experience_rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}
.education_line, .experience_line {
  display: block;
  width: 2px;
  height: 115%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}
.social_container {
  grid-template-columns: max-content;
  gap: 0.4rem;
}
.social_link {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.skills_content, .languages_content {
  grid-template-columns: repeat(2, 1fr);
}
ul {
  padding: 0;
  list-style: none;
} 
#skT li{
  display: flex;
  align-items: center;
  
}
.skills_circle, .languages_circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
.home_data {
  gap: 0.5rem;
  text-align: center;
}
@media screen and (min-width: 968px){
#lgT {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
    justify-content: space-between;
}}
#lgT li{
  grid-template-columns: repeat(3, max-content);
  column-gap: 3rem;
}
.languages_content {
  gap: 0;
}
.skills_name, .languages_name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}