<div class="sidenav">
  <a class="bird" href="{% url 'home' %}" style="font-size: 1.7rem;"><span class="me"><i class="fa-sharp fa-solid fa-dove"></i></span></a>
  <div class="sidepad">
    <!-- <button type="button" class="btn"><a href="{% url 'home' %}"><i class="fa-solid fa-house icon"></i>HOME</a></button> -->
    <button type="button" class="btn home"><a href="{% url 'home' %}"><i class="fa-solid fa-house icon"></i><span class="text">HOME</span></a></button>
    {% if user.is_authenticated %}
    <br><button type="button" class="btn"><a href="{% url 'profile' request.user.id %}"><i class="fa-solid fa-user icon"></i><span class="text">My Profile</span></a></button>
    {% else %}
    <br><button type="button" class="btn btn-register"><a href="{% url 'register' %}"><i class="fa-solid fa-user icon"></i><span class="text">Register</span></a></button>
    <br><button type="button" class="btn btn-login"><a href="{% url 'login' %}"><i class="fa-solid fa-user icon"></i><span class="text">Login</span></a></button>
    {% endif %}
    <br><button type="button" class="btn btn-profile-list"><a href="{% url 'profile_list' %}"><i class="fa-solid fa-list icon"></i><span class="text">Profile List</span></a></button>
    <br><button type="button" class="btn btn-explore "><a href="#clients"><i class="fa-solid fa-hashtag icon"></i><span class="text"> Explore</span></a></button>
    {% if user.is_authenticated %}
    <br><button type="button" class="btn btn-logout"><a href="{% url 'logout'%}"><i class="fa-solid fa-user icon"></i><span class="text">LogOut</span></a></button>
    {% endif %}

  </div>
</div>

<div class="rightsidenav" style="padding-top: 13px;">
  <nav class="navbar navbar-expand-lg navbar-light" style="display: block;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search" style="padding-right: 25px;">
          <br>
          <input class="form-control me-2" type="search" placeholder="Search ListenMe" aria-label="Search"
            style="margin-top: 12px;">
          <button class="btn icon" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
    <br>
  </nav>
</div>

{% block content %}
{% endblock %}

