{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light underline">
  <a class="navbar-brand" href="#">Profile list</a>

</nav>
<br>

{% if profiles %}
{% for profile in profiles %}

<div class="card mb-3" style="max-width: 200%; padding-bottom: 5px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if profile.profile_image %}
      <img src="{{profile.profile_image.url}}" alt="{{profile.user.username}}" style="width: 200%;height: 200px;"
        class="img-fluid rounded-start">
      {% else %}
      <img src="{% static 'images/default_profile_pic.jpg' %}" class="img-fluid rounded-start" alt="...">
      {% endif %}

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ profile.user.username }}</h5>
        <p class="card-text"><a href="{% url 'profile' profile.user.id %}"> @{{profile.user.username|lower }}</p>
        </a>{{ profile.bio }}<br><br>
        <p class="card-text"><small>Last Updated: {{ profile.date_modified }}</small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endif %}

{% endblock%}