
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/authentication/css/signin.css">
</head>

<body>

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times</span>
            </button>
            </div>
            {% endfor %}


    <div class="box">
        <form action="/signup" method="post">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <div class="inputBox">
                <input type="text" name="email" required="">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" name="username" required="">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="">
                <span>Password</span>
                <i></i>
            </div>

             <div class="links">
                <a href="/signin">Login</a>
            </div>
            <center>
                <input type="submit" value="Create Account">
            </center>


        </form>
    </div>
</body>
</html>