<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  
	<!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
	
  <title>DevRev | Air</title>

	<!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/auth-styles.css">

	<!-- Favicon -->
  <link rel="icon" type="image/png" sizes="180x180" href="/images/icon.png">

</head>
<body>

	<%- include("../partials/flash")%>
  <p style="text-align:center;">  <img src="/images/logo.png" alt="logo" />
  </p>
	<%- body %>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"crossorigin="anonymous"></script>
</body>
</html>