{% extends 'basic.html' %}

{% block title %} Admin Login {% endblock %}
{% block admin_login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form method="POST"> 
    {% csrf_token %}
    <div class="container mt-5">
        <div class="mb-3">
            <label for="username" class="form-label"><i style="font-weight: bold;">Username</i></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i style="font-weight: bold;">Password</i></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <br>
        <input type="submit" value="Submit" class="btn" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Invalid Credentials. Please try again.");
    window.location.href = "/admin_login"
    {% endif %}
</script>
{% endblock %}
