{% extends 'company_navbar.html' %}

{% block title %} Job Lists {% endblock %}
{% block job_list %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container mt-4">
<table class="table table-hover" id="example">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Job Title</th>
            <th>Created On</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{job.title}}</td>
            <td>{{job.creation_date}}</td>
            <td><a href="/edit_job/{{job.id}}/" class="btn"><i class="fa fa-edit"></i></a></td>
            <td><a href="#" class="btn"><i class="fa fa-trash"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}