<footer class="bg-dark">
    <div class="footer-content">
        <ul class="socials">
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom text-white">
        <h5 style="color: white;">DevRev | Air © <%= new Date().getFullYear() %><h5>
    </div>
</footer>